
h1{
    color: blue;
    text-align: center;
}
body{
background-color: yellow;
font-family: "Work Sans", sans-serif;
}
.angle-input{
    display: flex;
    flex-direction: row;
    text-align: right;
}


#header{
    text-align: center;
    color: blue;
}
.nav-bar{
  display: block;
  background-color: orange;
 font-size: x-large;
  text-align: center;
  padding: 2rem;
  margin: auto;
  max-width: 100%;

}

#input-btn{
    padding: 0.5rem;
    max-width: 80%;
    margin: 0.5rem;
    text-align: center;
}

.area-input{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#submit-answer-btn{
    text-align: center;
    background-color: yellow;

}